<div class="d-flex">
  <div
    *ngIf="personajes[0].apellido == 'Sanchez'"
    class="card"
    style="width: 18rem"
  >
    <img
      class="card-img-top"
      src="{{ personajes[0].img }}"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">
        {{ personajes[0].nombre + " " + personajes[0].apellido }}
      </h5>
      <p class="card-text">
        {{ personajes[0].descripcion }}
      </p>
      <a
        href="#"
        class="btn"
        [ngClass]="
          personajes[0].nombre == 'Morty' ? 'btn-primary' : 'btn-danger'
        "
        >Go somewhere</a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="{{ personajes[1].img }}"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">
        {{ personajes[1].nombre + " " + personajes[1].apellido }}
      </h5>
      <p class="card-text">
        {{ personajes[1].descripcion }}
      </p>
      <a
        href="#"
        class="btn"
        [ngClass]="
          personajes[1].nombre == 'Morty' ? 'btn-primary' : 'btn-danger'
        "
        >Go somewhere</a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="{{ personajes[2].img }}"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">
        {{ personajes[3].nombre + " " + personajes[3].apellido }}
      </h5>
      <p class="card-text">
        {{ personajes[3].descripcion }}
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="{{ personajes[2].img }}"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">
        {{ personajes[4].nombre + " " + personajes[4].apellido }}
      </h5>
      <p class="card-text">
        {{ personajes[4].descripcion }}
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

<hr />
<h2>ngFor</h2>
<h3>Cantidad de personajes: {{ personajes.length }}</h3>
<div class="d-flex">
  <div *ngFor="let personaje of personajes" class="card" style="width: 18rem">
    <img class="card-img-top" src="{{ personaje.img }}" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">
        {{ personaje.nombre + " " + personaje.apellido }}
      </h5>
      <p class="card-text">
        {{ personaje.descripcion }}
      </p>
      <a
        href="#"
        class="btn"
        [ngClass]="personaje.nombre == 'Morty' ? 'btn-primary' : 'btn-danger'"
        >Go somewhere</a
      >
    </div>
  </div>
</div>

<hr />
<p>Para que funcione tienes que poner el nombre igual que en el objeto</p>
<input type="text" [(ngModel)]="personajeSeleccionado" />
<button class="btn btn-danger" (click)="onClick()">buscar personaje</button>

<div *ngIf="personajeParaMostar" class="card" style="width: 18rem">
  <img
    class="card-img-top"
    src="{{ personajeParaMostar.img }}"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">
      {{ personajeParaMostar.nombre + " " + personajeParaMostar.apellido }}
    </h5>
    <p class="card-text">
      {{ personajeParaMostar.descripcion }}
    </p>
    <a
      href="#"
      class="btn"
      [ngClass]="personajeParaMostar.nombre == 'Morty' ? 'btn-primary' : 'btn-danger'"
      >Go somewhere</a
    >
  </div>
</div>

<h3 [ngSwitch]="resultadoDelPartido">
  <span *ngSwitchCase="'gano'">state gano</span>
  <span *ngSwitchCase="'perdio'">state perdio</span>
  <span *ngSwitchCase="'empato'">state empato</span>
</h3>
